@model KeywordSearch.Models.Search

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> resultList = Model.ResultList;
}

<h2>Result</h2>

@{ 
    foreach ( string result in resultList)
    {
        <span>@result</span>
        <br />
    }
    foreach (int index in ViewBag.resultIndex)
    {
        <span>
            Page: @Model.Results[index].Page &nbsp;&nbsp;
        </span>
        
        <span>
            Index: @index
        </span>
        <br />
    }
}
