@using KeywordSearch.Models
@model Search

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

@{  
    foreach (int index in ViewBag.resultIndex as List<int>)
    {
        <span>
            Page: @(Model.Results[index].Page +1) &nbsp;&nbsp;
        </span>
        <span>
            Current Page Index: @Model.Results[index].Index &nbsp;&nbsp;
        </span>
        <span>
            Total Rank: @(index+1) &nbsp;&nbsp;
        </span>
        <br />
    }
}
